.payLayout {
  padding: 5% 10%;
  text-align: center;

  .ewm {
    margin-bottom: 30px;

    img {
      width: 220px;
      height: 220px;
    }
  }

  .address {
    color: #333333;
    font-size: 24px;
    font-weight: 600;
    margin: 80px 0 30px 0;
  }

  .desc {
    margin-top: 80px;
    color: #999999;
  }
}